/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// ALL SCREENS  ////////////////////////////////////////////////// */
/* //////////////// Any styles in this section will be overriden by styles in the following sections //////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
html {
    --tb_h: 5rem;
}

#main {
    height: auto;
    width:100%;
    overflow: hidden;
}
/* Only necessary for non-floating toolbar setup */
#tb_spacer {
    display: none;
}
/* Uncomment block of code below if you wish to have the toolbar be "fixed" at top of screen */
/* #tb_spacer {
    display: block;
    content:"";
    height:var(--tb_h);
    width: 100%;
    display: block;
}
#tb {
    position: fixed;
    top: 0;
    width:100%;
    z-index: 100;
    box-shadow: 0px -1px 1.5em #777a;
} */
#tb {
    background-color: transparent; 
    height: auto;
    background-color: white;
}
/* Toolbar button styling */
#tb .tbb {
    line-height: var(--tb_h);
    color: slategrey;
    height: auto;
    font-weight: 400;
    font-size: 1.5em;
    display: block;
    text-align: center;
}
/* Unique styling to be applied to toolbar button of page user is currently viewing (.current) */
#tb .tbb.current {
    text-decoration: underline;
}
/* Styling applied to toolbar button when hovered */
#tb .tbb:hover {
    background-color: #e6e6e6;
    box-shadow: inset 0 0 0.5em #6663;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// X-SMALL SCREENS //////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (max-width: 599px) {
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// SMALL SCREENS ///////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 600px) and (max-width: 1099px) {
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// MEDIUM SCREENS ///////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 1100px) and (max-width: 1499px) {
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// LARGE SCREENS ///////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 1500px) and (max-width: 1999px) {
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// X-LARGE SCREENS //////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 2000px) and (max-width: 3199px) {

}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////// XX-LARGE SCREENS //////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 3200px) {
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////// WRITTEN BY A-DUBS //////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */