/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////// ALL SCREENS  //////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */

html {
  background-color: whitesmoke
}
#main {
    background-color: whitesmoke;
}
#landing {
    width:100%;
    height:30rem;
    position: relative;
    background-color: #4C6B8A;
    font-size: 2em;
    margin-bottom: 1em;
}
#landing .container {
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 0.5em;
    padding: 1.5em 1.5em;
    text-align: center;
    box-shadow: inset 1em;
    
}
#landing h1 {
    font-size: 6rem;
    font-weight: 800;
    margin: .25em auto;
}
#landing h2 { 
    font-size: 2.5rem;
    font-weight: 200;
    margin: .25em auto;
}
#landing .btn {
    font-size: 2rem;
    margin-top: 1.5rem; 
    margin-bottom: 1rem; 
    padding: .5rem 2rem;
    border-radius: 100rem;
}

#projects {
  width:100%;
  position: relative;
  text-align: center;
  box-shadow: inset 1em
}

.btn {
  background-color: #4C6B8A;
  transition: 0.7s;
  width: 60%;
  font-size: 3.5rem;
  margin-top: 0rem; 
  margin-bottom: 0rem; 
  padding: 3rem 0rem;
  border-radius: 3.5rem;
}

.btn:hover {
  background-color: #8FA2B4;
  color: black;
}

.project h3 {
  padding: 1em 0 0.5em 0;
}
.sect {
    background-color: whitesmoke;
    padding: 2.5em 2.5em;
}
.projects-header {
    text-align: center;
}
.projects-section {
    background-color: whitesmoke;
    border-radius: 0.5em;
    box-sizing: border-box;
    padding: 2em;
}


/* SUBJECTS */
.subjects {
    font-size: 2.5em;
    font-weight: 400;
    padding: 2px;
}
.projectText {
  line-height: normal;
  font-size: 2em;
  font-weight: 350;
  padding: 2px;
}
.date{
  font-size: 1.5em;
  font-weight: 350;
  padding: 2px;
  padding-left: 4px;
}



/* FOOOOOTERRRRRR */
/* FOOTER */
.foot{
  text-align: center;
  font-size: 1.5em;
  font-weight: 350;
  margin: 2em;
  background: whitesmoke;
}

.body{
  background: whitesmoke;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////// X-SMALL SCREENS  ////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (max-width: 700px) {
  .container {
    max-width: 90%;
}
  .sect {
    padding: 3em 0em;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////// SMALL SCREENS  /////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 700px) and (max-width: 1099px) {
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////// MEDIUM SCREENS  /////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 1100px) and (max-width: 1499px) {
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////// LARGE SCREENS  /////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 1500px) and (max-width: 1999px) {
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////// X-LARGE SCREENS  ////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 2000px) and (max-width: 3199px) {

}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////// XX-LARGE SCREENS  ////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 3200px) {
    
}
