/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////// ALL SCREENS  //////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
#main {
    background-color: black;
}
#landing {
    width:100%;
    height:50rem;
    position: relative;
    background-color: slategrey;
    font-size: 2em;
}
#landing .container {
    color: white;
    border: 1px dashed lightgrey;
    padding: 2em 2em;
    text-align: center;
    box-shadow: inset 1em
}
#landing h1 {
    font-size: 3.5em;
    font-weight: 800;
    margin: .25em auto;
}
#landing h2 { 
    font-size: 1.25em;
    font-weight: 200;
    margin: .25em auto;
}
#landing .btn {
    font-size: 1em;
    margin-top: 4em; 
    margin-bottom: 1em; 
    padding: .5em 2em;
    border-radius: 100em;
}
.sect {
    background-color: whitesmoke;
    padding: 8em 5em;
    border-bottom: 1px solid darkgray;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////// X-SMALL SCREENS  ////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (max-width: 599px) {
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////// SMALL SCREENS  /////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 600px) and (max-width: 1099px) {
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////// MEDIUM SCREENS  /////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 1100px) and (max-width: 1499px) {
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////// LARGE SCREENS  /////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 1500px) and (max-width: 1999px) {
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////// X-LARGE SCREENS  ////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 2000px) and (max-width: 3199px) {

}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////// XX-LARGE SCREENS  ////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media all and (min-width: 3200px) {
    
}
