:root {
    --big_buttons_font: 2.5rem;
}

/* /////////////////////////////////////// X-SMALL SCREENS  /////////////////////////////////////// */
@media all and (max-width: 700px) {
    div.buttonBlock a  {font-size: calc(var(--big_buttons_font)*0.6);}
}
/* /////////////////////////////////////// SMALL SCREENS  /////////////////////////////////////// */
@media all and (min-width: 700px) and (max-width: 1099px) {
    div.buttonBlock a  {font-size: calc(var(--big_buttons_font)*0.7);}
}
/* ////////////////////////////////////// MEDIUM SCREENS  /////////////////////////////////////// */
@media all and (min-width: 1100px) and (max-width: 1499px) {
    div.buttonBlock a  {font-size: calc(var(--big_buttons_font)*0.75);}
}
/* /////////////////////////////////////// LARGE SCREENS  /////////////////////////////////////// */
@media all and (min-width: 1500px) and (max-width: 1999px) {
    div.buttonBlock a  {font-size: var(--big_buttons_font);}
}
/* ////////////////////////////////////// X-LARGE SCREENS  ////////////////////////////////////// */
@media all and (min-width: 2000px) and (max-width: 3199px) {
    div.buttonBlock a  {font-size: var(--big_buttons_font);}
}
/* ///////////////////////////////////// XX-LARGE SCREENS  ////////////////////////////////////// */
@media all and (min-width: 3200px) {
    div.buttonBlock a  {font-size: var(--big_buttons_font);}
}