/* projects */
.projects{
    width:75%;
    margin: auto;
    text-align: center;
}
.collapsible {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 200;
    background-color: #292929;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    outline: none;
    font-size: 2.5rem;
    border: 2px solid whitesmoke;
    border-radius: 2rem;
    transition: 0.5s;
    margin-top:2rem;
  }
  
  .collapsible:hover {
    background-color: whitesmoke;
    color:#292929;
  }
  .collapsible:active {
    background-color: #292929;
  }
  .content {
    display: none;
    background-color: #292929;

  }
