@font-face {
    font-family: Horror;
    src: url("fonts/BloodyModes-gwwYp.ttf") format("opentype");
}
html {
    font-family: Arial, sans-serif;
    font-family:'Courier New', Courier, monospace;
    position: relative;
}
body {
    margin: 0;
    padding: 0;
    background-color: #292929;
    color: whitesmoke;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}   

/* Topnav */
.topnav {
    background-color: #1f1f1f;
    overflow: hidden;
    width: 100%;
}
.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.6s;
    font-weight: 700;
    border-radius: 2rem;

}

.topnav a.active {
    background-color: #292929;
    color: whitesmoke;
    border: 2px solid whitesmoke;

}
.topnav a.active:hover {
    background-color: whitesmoke;
    color: #292929;
}

/* -------- */

/* Landing */
#landing {
    width:100%;
    background-color: #202020;
    font-size: 2em;
    margin-bottom: 1em;
    
}
#landing .top-section {
    text-align: center;
    color: whitesmoke;
    /* border: 5px solid whitesmoke; */
    border-radius: 0.5em;
    box-shadow: inset 1em;
    margin: 1em auto;
    width: 70%;
    /* max-height: 12rem; */
}
#landing h1 {
    font-family: Arial, sans-serif;    
    font-weight: 800;
    margin: 0em auto;
    padding: 0em 0em;
}
/* -------- */

/* Rest of body */
h1, h2{
    color: whitesmoke;
}
h3 {
    color:whitesmoke;
}
p {
    line-height: 1.6;
}
.container{
    background-color: #292929;
    margin-top: 1rem;
}

div.buttonBlock {text-align: center}
div.buttonBlock a {
    border: 2px solid whitesmoke;
    background-color: #292929;
    border-radius: 2rem;
    color: whitesmoke;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5rem;
    margin: 1.5rem;
    vertical-align: middle;
    width: 45%;
    transition:0.6s;
}
div.buttonBlock a:hover {
    text-decoration: none;
    color:black;
    background-color: whitesmoke;
}
/* -------- */

/* fOOTER */
footer {
    margin-top:auto;
    background-color: #292929;
    text-align: left;
}
footer a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size:0.7rem;
    font-weight: 500;
    color: whitesmoke;
    margin-left:1rem;
}
/* -------- */
